* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Este bloque de CSS afecta a todos los elementos HTML en la página, indicados por el asterisco "*".  quitando los estilos por defecto del navegador web */

/*  Activa el desplazamiento suave para la página. */
html {
    scroll-behavior: smooth;
  }

body {
    max-width: 1400px;
        margin: 0 auto;
    /* Elimina el margen por defecto del body */
    box-sizing: content-box;
    /* Define el modelo de caja como content-box */
    background: #7F7FD5;  /* fallback for old browsers */
    /* Color de fondo de respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    /* Fondo con gradiente para navegadores Webkit antiguos */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Fondo con gradiente para navegadores modernos */
    font-family: "Oswald", sans-serif;
    /* Fuente de texto usando la fuente Oswald */
    color: rgb(1, 14, 87);
    /* Color del texto */
}

a {
    color: #4a76ee;
    text-decoration: none;
}

  
nav {
    display: flex;
    /* Usa Flexbox para el contenedor de navegación */
    align-items: center;
    /* Alinea los elementos en el centro verticalmente */
    justify-content: space-between;
    /* Distribuye el espacio restante entre los elementos */
    background-color: #151b25;
}

nav .left,
nav .right {
    margin-bottom: 20px;
}

nav .left {
    margin-left: 50px;
}

nav .left a {
/* Las etiquetas se escriben sin <> y las clases llevan punto antes. */
    color: rgb(0, 0, 0);
    /* Color del texto de los enlaces a la izquierda */
    font-size: 50px;
    /* Tamaño de fuente de 20 píxeles */
    font-weight: 600;
    /* Grosor de fuente */
    margin-left: 0px;
    font-family: "Playwrite DK Uloopet", cursive;
    transform: rotate(-10deg) scaleX(0.8) skew(-15deg); /* Rotación de 45 grados */
    display: inline-block; /* Para que la rotación se aplique correctamente */
}

nav .right {
    margin-right: 20px;
}

nav .right a {
    color: #4a76ee;
    /* Color del texto de los enlaces a la derecha */
    font-size: 25px;
    margin: 0 10px;
}

nav .right a p {
    color: beige;
    /* Color del texto de los párrafos dentro de los enlaces a la derecha */
    font-size: 16px;
    /* Tamaño de fuente de 16 píxeles */
}

nav .right a:last-child {
    color: #1a1c20;
    background-color: #b6b7b8;
    padding: 0px 15px;
    border-radius: 5px;
}

nav .right a span {
    font-size: 15px;
    margin-left: 5px;
  }

.about-me {
    display: flex;
    /* Usa Flexbox para el contenedor de la sección "about-me" */
    justify-content: space-between;
    /* Distribuye el espacio restante entre los elementos */
    align-items: center;
    /* Alinea los elementos en el centro verticalmente */
    margin: 50px;
    margin-bottom: 100px;
    gap: 40px;
}

.about-me .text {
    flex: 5;
}

.about-me .text h1 {
    font-size: 45px;
}

.about-me .text span {
    font-size: 15px;
    color: #151b25;
    margin-top: 10px;
    font-weight: 500;
}

.about-me .text .links {
    margin-top: 35px;
    margin-left: 100px;
}

.about-me .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(1, 14, 87);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
.about-me .text .links a:hover {
    color: #ffffff;
    border: 4px solid #1a1c20;
    cursor: pointer;
    background-color: #1a1c20;
}

.about-me .text .links span:hover {
    color: #ffffff;
}

.about-me .profile {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-me .profile img {
    border-radius: 50%;
    /* Hace que la imagen tenga bordes redondeados para parecer un círculo */
    width: 400px;
    /* Ancho de la imagen de 200 píxeles */
    height: 400px;
    /* Altura de la imagen de 200 píxeles */
    padding: 50px;
    /* Espaciado interno de 20 píxeles alrededor de la imagen */
}

.habilidades{
    padding: 0 50px;
    margin-bottom: 0px;
    background-color: #151b25;
    padding-top: 25px;
    padding-bottom: 100px;
}
.habilidades h2 {
    text-align: center;
    font-size: 40px;
    color: #dddddd;
    margin-bottom: 20px;
}

.habilidades .text {
    text-align: center;
    margin-bottom: 20px;
    color: #dddddd;
}

.habilidades .celdas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades .celdas .celda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    padding: 10px 20px;
    margin-top: 10px;
}

.habilidades .celdas .celda img {
    width: 40px; /* Tamaño inicial del icono */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Se asegura de que no exceda el tamaño del contenedor */
}

.habilidades .celdas .celda span {
font-size: 19px;
color: #dddddd;
}